.Button {
    min-width: 100px;
    height: 40px;
    color: #FFF;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.Button--outline{
    background:transparent;
    min-width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color:#0D0D0D;
}