.chip {
    position: relative;
    z-index: 1;
    min-width: 120px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    max-width: 200px;
}

.chip__indicator {
    width: 10px;
    height: 10px;
    background: #30B800;
    margin-right: 5px;
    border-radius: 50%;
}

.chip__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 11px;
}

.chip__dropdown-handler {
    cursor: pointer;
}

.chip__dropdown {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-left: 10px;
}

.chip__dropdown__run {
    cursor: pointer;
    padding: 5px 0;
}

.chip__dropdown__copy {
    cursor: pointer;
    padding: 5px 0;
}

.chip__dropdown__delete {
    padding: 5px 0;
    cursor: pointer;
}


.chip__dropdown__run:hover {
    background: blue;
    color: #FFFFFF;
}

.chip__dropdown__copy:hover {
    background: blue;
    color: #FFFFFF;
}

.chip__dropdown__delete:hover {
    background: red;
    color: #FFFFFF;
}

