.field {
    width: 460px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field__label {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.field__input {
    min-width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    apperance: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
}


.field__error__label {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: red;
}

.field__error__input {
    min-width: 100%;
    height: 40px;
    border: 1px solid red;
    apperance: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
}