.Alert {
    width: 100%;
    background: rgba(207, 44, 0, 0.1);
    border-radius: 5px;
    display: grid;
    padding: 10px 12px;
    grid-template-columns: 24px 1fr;
    grid-template-rows:minmax(20px, 30px) minmax(20px, 30px);
    justify-items: start;
    align-items: center;
    grid-column-gap: 8px;
    margin-bottom: 20px;
}

.Alert__icon {
    height: 24px;
    width: 24px;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23CF2C00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 15H16' stroke='%23CF2C00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 9H9.01' stroke='%23CF2C00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 9H15.01' stroke='%23CF2C00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.Alert__label {
    color: #CF2C00;
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.Alert__error {
    color: #CF2C00;
    opacity: 0.5;
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}